<a href="https://colab.research.google.com/github/nevesbah/iirsa/blob/main/notebooks/iirsa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [545]:
import numpy as np
import pandas as pd
import os

!git clone https://github.com/nevesbah/iirsa

fatal: destination path 'iirsa' already exists and is not an empty directory.

In [546]:
custom = pd.read_excel('iirsa/bd/iirsa_custom.xlsx')
source = pd.read_excel('iirsa/bd/iirsa_source.xlsx')

iirsa = pd.merge(source, custom, how="outer", on="nome_projeto")
iirsa

,inicio,fim_x,eixo_x,codigo_x,nome_projeto,grupo_x,etapa_x,investimento_total_uss_x,pais_x,fonte_investimento_x,...,FONPLATA,FOCEM,PRIVADO,PÚBLICO,BANCO MUNDIAL,EU,VARIOS,TESOURO MUNICIPAL,BNDES,TESOURO N. BR
0,NaN,1947.0,Capricornio,CAP91,"CORREDOR FERROVIARIO BIOCEÁNICO, TRAMO CHILE (...",G01,CONCLUIDO,501000000,CHILE,Tesouro Nacional,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000.0,2002.0,Escudo Guayanes,GUY43,RUTA LINDEN - GEORGETOWN,G02,CONCLUIDO,0,GUYANA,Público,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2002.0,2004.0,Del Sur,DES07,CONSTRUCCIÓN DE INTERCONEXIÓN A 500 KV TRAMO C...,G01,CONCLUIDO,70000000,ARGENTINA,"CAF, Tesouro Nacional",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2004.0,Escudo Guayanes,GUY10,PUENTE SOBRE EL RÍO ARRAYA,G02,CONCLUIDO,1500000,BRASIL,Tesouro Nacional,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500000.0
4,2001.0,2004.0,Escudo Guayanes,GUY42,RUTA BOA VISTA - BONFIM,G02,CONCLUIDO,15000000,BRASIL,Tesouro Nacional Brasileiro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,NaN,NaN,Mercosur-Chile,MCC48,PUERTO TERRESTRE LOS SAUCES (LOS ANDES),G03,CONCLUIDO,61000000,CHILE,Privado,...,NaN,NaN,61000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,NaN,NaN,Mercosur-Chile,MCC52,RECONSTRUCCIÓN Y AMPLIACIÓN DE LA RUTA NACIONA...,G04,CONCLUIDO,40000000,ARGENTINA,Tesouro Nacional,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,NaN,NaN,Mercosur-Chile,MCC41,RUTA NACIONAL N° 7: CONSTRUCCIÓN DE VARIANTE F...,G03,CONCLUIDO,30000000,ARGENTINA,Tesouro Nacional,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,NaN,NaN,Capricornio,CAP06,RUTA NACIONAL N° 81: PAVIMENTACIÓN LAS LOMITAS...,G01,CONCLUIDO,100000000,ARGENTINA,CAF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,NaN,NaN,Mercosur-Chile,MCC61,SISTEMA DE ITAIPÚ (EXISTENTE),G05,CONCLUIDO,16000000000,"BRASIL, PARAGUAY",Binacional,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [547]:
s = iirsa.columns[22:36].tolist()

In [654]:
fonte = pd.DataFrame(iirsa[s])
# fonte["fontes_valores"] = "NA"

for i in range(len(fonte)):
  fontes = fonte.loc[i].dropna().index
  valores = fonte.loc[i].dropna()

  teste = [fontes.tolist(), valores.tolist()]
  # print(teste)
  fonte.at[i, "fontes_valores"] = teste
fonte

,Tesouro Nacional,Binacional,BID,CAF,FONPLATA,FOCEM,PRIVADO,PÚBLICO,BANCO MUNDIAL,EU,VARIOS,TESOURO MUNICIPAL,BNDES,TESOURO N. BR,fontes_valores
0,501000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Tesouro Nacional, 501000000.0]"
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"[[PÚBLICO], [0.0]]"
2,21000000.0,NaN,NaN,49000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[[Tesouro Nacional, CAF], [21000000.0, 4900000..."
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500000.0,"[[TESOURO N. BR], [1500000.0]]"
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15000000.0,"[[TESOURO N. BR], [15000000.0]]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,NaN,NaN,NaN,NaN,NaN,NaN,61000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[[PRIVADO], [61000000.0]]"
156,40000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[[Tesouro Nacional], [40000000.0]]"
157,30000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[[Tesouro Nacional], [30000000.0]]"
158,NaN,NaN,NaN,100000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[[CAF], [100000000.0]]"
159,NaN,16000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[[Binacional], [16000000000]]"

In [549]:
testes = fonte.loc[0,"Tesouro Nacional"] 
type(teste)

pandas.core.series.Series